<html>
  <head>
    <title><%= @blog_data[@id.to_i].title %></title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
  </head>
  <body>
    <h1> <%= @blog_data[@id.to_i].title %> </h1>
    <p><%= @blog_data[@id.to_i].text %></p>
  </body>
</html>